@font-face {
	font-family: 'Bahnschrift';
    src: url('fonts/font.ttf');
   }


h1 {
  font-family: 'Bahnschrift';
}

h3 {
  font-family: 'Bahnschrift';
}

p {
  font-family: 'Bahnschrift';
}

.form-group {
   width:400px;
   font-family: 'Bahnschrift';
}