<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Popularity Estimator</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <link rel="shortcut icon" href="https://www.favicon.by/ico/60990fc9a5ef4.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="header"><h1 align="center">BOOK POPULARITY ESTIMATOR</h1></div>
<div class="title"><h2 align="center">Looking for the easiest way to find out the potential book popularity?</h2>
<h2 align="center">Just follow the instructions below.</h2></div>
<form method="post" action="/">
<div align="center" class="desc">
    <h3>1. Enter the book description:</h3>
    <textarea name="description" id="bookDesc" spellcheck="true"></textarea>
</div>
<div class="booksDropdown" align="center">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <h3 align="center">2. Choose at least one genre:</h3>
                <select data-live-search="true" name="genreChoice1" class="form-control selectpicker" id="genre1">
                    <option selected disabled>please, enter a few letters...</option>
                    {% for g in genresList %}
                    <option value="{{ g }}">{{ g }}</option>
                    {% endfor %}
                </select>
                <select data-live-search="true" name="genreChoice2" class="form-control selectpicker">
                    <option selected disabled>please, enter a few letters...</option>
                    {% for g in genresList %}
                    <option value="{{ g }}">{{ g }}</option>
                    {% endfor %}
                </select>
                <select data-live-search="true" name="genreChoice3" class="form-control selectpicker">
                    <option selected disabled>please, enter a few letters...</option>
                    {% for g in genresList %}
                    <option value="{{ g }}">{{ g }}</option>
                    {% endfor %}
                </select>
                <select data-live-search="true" name="genreChoice4" class="form-control selectpicker">
                    <option selected disabled>please, enter a few letters...</option>
                    {% for g in genresList %}
                    <option value="{{ g }}">{{ g }}</option>
                    {% endfor %}
                </select>
                <select data-live-search="true" name="genreChoice5" class="form-control selectpicker">
                    <option selected disabled>please, enter a few letters...</option>
                    {% for g in genresList %}
                    <option value="{{ g }}">{{ g }}</option>
                    {% endfor %}
                </select>
                <select data-live-search="true" name="genreChoice6" class="form-control selectpicker">
                    <option selected disabled>please, enter a few letters...</option>
                    {% for g in genresList %}
                    <option value="{{ g }}">{{ g }}</option>
                    {% endfor %}
                </select>
                <select data-live-search="true" name="genreChoice7" class="form-control selectpicker">
                    <option selected disabled>please, enter a few letters...</option>
                    {% for g in genresList %}
                    <option value="{{ g }}">{{ g }}</option>
                    {% endfor %}
                </select>
                <select data-live-search="true" name="genreChoice8" class="form-control selectpicker">
                    <option selected disabled>please, enter a few letters...</option>
                    {% for g in genresList %}
                    <option value="{{ g }}">{{ g }}</option>
                    {% endfor %}
                </select>
                <select data-live-search="true" name="genreChoice9" class="form-control selectpicker">
                    <option selected disabled>please, enter a few letters...</option>
                    {% for g in genresList %}
                    <option value="{{ g }}">{{ g }}</option>
                    {% endfor %}
                </select>
                <select data-live-search="true" name="genreChoice10" class="form-control selectpicker">
                    <option selected disabled>please, enter a few letters...</option>
                    {% for g in genresList %}
                    <option value="{{ g }}">{{ g }}</option>
                    {% endfor %}
                </select>
                <select data-live-search="true" name="genreChoice11" class="form-control selectpicker">
                    <option selected disabled>please, enter a few letters...</option>
                    {% for g in genresList %}
                    <option value="{{ g }}">{{ g }}</option>
                    {% endfor %}
                </select>
                <select data-live-search="true" name="genreChoice12" class="form-control selectpicker">
                    <option selected disabled>please, enter a few letters...</option>
                    {% for g in genresList %}
                    <option value="{{ g }}">{{ g }}</option>
                    {% endfor %}
                </select>
                <select data-live-search="true" name="genreChoice13" class="form-control selectpicker">
                    <option selected disabled>please, enter a few letters...</option>
                    {% for g in genresList %}
                    <option value="{{ g }}">{{ g }}</option>
                    {% endfor %}
                </select>
                <select data-live-search="true" name="genreChoice14" class="form-control selectpicker">
                    <option selected disabled>please, enter a few letters...</option>
                    {% for g in genresList %}
                    <option value="{{ g }}">{{ g }}</option>
                    {% endfor %}
                </select>
                <select data-live-search="true" name="genreChoice15" class="form-control selectpicker">
                    <option selected disabled>please, enter a few letters...</option>
                    {% for g in genresList %}
                    <option value="{{ g }}">{{ g }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
<div class="resultBtn" align="center">
    <h3>3. <button type="submit" class="goBtn">Press me</button> and scroll down to see the result</h3>
</div>
</form>
<div class="result">
    {% if enter_error %}
    <p align="center" class="errorRes">{{ enter_error[0] }}</p>
    <p align="center" class="errorRes">{{ enter_error[1] }}</p>
    {% endif %}
    {% if emo_error %}
    <p align="center" class="errorRes">{{ emo_error }}</p>
    {% endif %}
    {% if result %}
    <p align="center" class="res">The expected rating of the book is {{ result }}</p>
    {% endif %}
</div>
</body>
</html>